@media (min-width: 992px) {
  header {
    display: inline-flex;
  }

  nav {
    height: auto;
    display: block;
    background: none;
  }

  nav span {
    background-image: url('../images/black_arrow.png');
  }

  .nav_container {
    display: flex;
    float: right;
    padding: 10px 0 0 0;
  }

  h1 {
    font-size: 40px;
    line-height: 65px;
  }

  .hamburger {
    display: none;
  }

  .title {
    font-size: 16px;
    color: #000;
  }

  .right_content {
    width: 50%;
    display: flex;
  }

  .right_content img {
    display: block;
  }

  .drop_down_content {
    margin-right: 25px;
  }

  .cook_your_own_top_container img, .cook_your_own_bottom_container img {
    width: 200px;
    border-radius: 20px;
    margin: 15px;
    display: inline;
  }

  .food_group_container {
    height: 480px;
  }

  .plate_img {
    width: 50%;
    float: left;
  }

  .plate_description {
    padding-top: 70px;
  }



}
