.food_group_container {
  width: 1000px;
  max-width: 100%;
  height: 450px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

h2 {
  text-align: center;
}

.plate_img {
  width: 400px;
  float: left;
}

.plate_description {
  width: 50%;
  float: right;
  margin-top: 100px;
}

.fruits_link {
  width: 120px;
  height: 122px;
  position: absolute;
  top: 128px;
  left: 116px;
  background: transparent;
}

.vegetables_link {
  width: 120px;
  height: 122px;
  position: absolute;
  top: 128px;
  left: 244px;
  background: transparent;
}

.protein_link {
  width: 120px;
  height: 122px;
  position: absolute;
  top: 260px;
  left: 116px;
  background: transparent;
}

.grains_link {
  width: 120px;
  height: 122px;
  position: absolute;
  top: 260px;
  left: 244px;
  background: transparent;
}

.cook_your_own_foods {
  background-color: #009FB7;
  padding: 30px 0 30px 0;
}

.cook_your_own_foods h2 {
  color: #fff;
}

.cook_your_own_top_container {
  margin: 0 auto;
  display: table;
}

.cook_your_own_top_container img {
  width: 200px;
  border-radius: 20px;
  margin: 15px;
}

.cook_your_own_bottom_container {
  margin: 0 auto;
  display: table;
}

.cook_your_own_bottom_container img {
  width: 200px;
  border-radius: 20px;
  margin: 15px;
}

.cook_your_own img:hover {
  transition: all 200ms ease-in;
  transform: scale(1.1);
  cursor: pointer;
}

.plan_container {
  height: 500px;
  background-size: 100%;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
}

.calculator_content {
  width: 360px;
  height: 400px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  top: 50px;
  border-radius: 20px;
}

h3 {
  text-align: center;
  padding: 30px 0 0 0;
  font-size: 20px;
  margin: 0;
}

.height_content {
  display: block;
  margin: 30px 0 0 40px;
}

.calculator_content input {
  width: 50px;
  height: 30px;
  font-size: 20px;
}

.calculator_content input::-webkit-outer-spin-button,
.calculator_content input::-webkit-inner-spin-button,
.daily_calorie_calculator input::-webkit-outer-spin-button,
.daily_calorie_calculator input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=radio] {
  width: 17px;
  vertical-align: bottom;
}

.height_content input:last-child {
  margin-left: 30px;
}

.weight_content {
  margin: 30px 0 0 35px;
}

.gender_content {
  margin: 30px 0 0 38px;
}

.gender_content label {
  vertical-align: super;
}

.gender_content p {
  float: left;
  margin: 7px 0 0 0;
}

.bmi_number {
  text-align: center;
}

.button_content {
  margin: 30px 0 0 0;
}

.button_content button {
  width: 150px;
  height: 40px;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  border-radius: 20px;
  border: 1px #000 solid;
  background-color: #fff;
  cursor: pointer;
}

.button_content button:hover {
  background-color: #000;
  color: #fff;
}

.tdee_content {
  text-align: center;
  font-size: 13px;
  margin-top: 40px;
  cursor: pointer;
}

.calculator_popup, .tdee_calculation_popup {
  width: 360px;
  height: 400px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  right: 0;
  left: 0;
  top: 200%;
  border-radius: 20px;
  display: none;
  z-index: 20;
}

.overlay {
  width: 100%;
  height: 100vh;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #2d2626e6;
  z-index: 10;
  display: none;
}

.overlay p {
  color: #fff;
  float: right;
  font-size: 30px;
  margin: 20px;
  cursor: pointer;
}

.daily_calorie_calculator {
  width: 360px;
  height: 400px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  top: 50px;
  border-radius: 20px;
  display: none;
}

.height_form {
  margin: 30px 20px 0 25px;
  float: left;
}

.weight_form {
  margin: 30px 0 0 36px;
}

.gender_form {
  margin: 15px 0 0 36px;
}

.daily_calorie_calculator form input {
  width: 50px;
  height: 30px;
  font-size: 20px;
}

.gender_form p, .age_form p {
  float: left;
  margin: 7px 2px 0 0;
}

.daily_calorie_calculator input[type=radio] {
  width: 17px;
  vertical-align: bottom;
}

.daily_calorie_calculator label {
  vertical-align: super;
}

.age_form {
  margin: 25px 0 0 50px;
}

.activity_form {
  margin: 25px 0 0 36px;
}

.activity_level {
  width: 170px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  vertical-align: super;
}

.daily_calorie_button_content {
  margin-top: 25px;
}

.daily_calorie_button_content button {
  width: 150px;
  height: 40px;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  border-radius: 20px;
  border: 1px #000 solid;
  background-color: #fff;
  cursor: pointer;
}

.daily_calorie_button_content button:hover {
  background-color: #000;
  color: #fff;
}

.bmi_content {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  cursor: pointer;
}

.tdee_day_value, .tdee_week_value {
  text-align: center;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
}









/* */
